<div class="row">
    <div class="col-md-3">
    <div class="side col-md-4">
     <a  class="btn btn-success m-3 custome btn-color">create Employee</a>
     <a  class="btn btn-success m-3 custome btn-color"> List Employee</a>

    </div>
</div>
    <div  class="col-md-8 mt-4 margin-left">
        
        <h1>FirstName: {{update.firstName}}</h1>
        <h1>LastName: {{update.lastName}}</h1>
        <h1>Email: {{update.email}}</h1>
        <h1>Phone: {{update.phone}}</h1>
        <h1>Profession: {{update.profession}}</h1>
        <h1>Date of Birth:{{update.DOB}}</h1>

        <div>
            <button (click)="backToList()" class="btn-color">Back List</button>
        </div>
    </div>
  
   
  </div>
